* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

#timer {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
}

#answer-button {
    margin-left:0;
    margin-top: 15px;
    background-color: white;
    display: block;
}